<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Zmien haslo | MovieClub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Zamien swoje hasło na nowe</h2>
    <form method="post" th:action="@{/zmiana-hasla}" th:object="${user}" class="mc-form">
        <label for="password1">Nowe hasło</label>
        <p th:errors="*{password}" class="mc-form-message" >Błąd email</p>
        <p th:if="${error}" th:text="${error}" class="mc-form-message"></p>
        <input id="password1" type="password" placeholder="Nowe hasło" th:field="*{password}" >
        <label for="password2">Potwierdz nowe hasło</label>
<!--        <p th:errors="*{password}" class="mc-form-message" >Błąd hasło</p>-->
        <input id="password2" type="password" placeholder="Potwierdz nowe hasło" name="confirmPassword">
        <input type="submit" value="Zmień hasło">
    </form>
    <p class="registration-link">Potwierdzono zmiane hasla?
    <a href="#" th:href="@{/twoj-profil/confirm-password}">Podaj kod potwierdzajacy</a>
    </p>
</main>
</body>
</html>