<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tytul filmu - MovieClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="../static/scripts/common.js" th:src="@{/scripts/common.js}" defer></script>
    <script src="../static/scripts/popup.js" th:src="@{/scripts/popup.js}" defer></script>
    <script src="../static/scripts/message.js" th:src="@{/scripts/message.js}" defer></script>
    <script src="../static/scripts/marks.js" th:src="@{/scripts/marks.js}" defer></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/popup.css}">
</head>
<body>
<div class="container">
    <nav class="nav">
        <ul class="menu">
            <li class="menu-logo-container">
                <a href="#" th:href="@{/}">
                    <i class="fas fa-film logo"></i> MovieClub
                </a>
            </li>

            <li class="menu-toggle">
                <a href="#" th:href="@{#}"><i id="toggle-icon" class="far fa-plus-square"></i></a>
            </li>


            <li class="menu-item">
                <form method="get" th:action="@{/znajdz-film}">
                    <input type="search" name="searched_movie" placeholder="movie..." class="search-movie">
                </form>
            </li>

            <li class="menu-item">
                <a href="#" th:href="@{/gatunki-filmowe}">Gatunki</a>
            </li>

            <li class="menu-item">
                <a href="#" th:href="@{/top10}">Top10</a>
            </li>


            <li class="menu-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_MODERATOR')">
                <a href="#" th:href="@{/admin}">Administracja</a>
            </li>

            <li class="menu-item" sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{/twoj-profil}">Mój profil</a>
            </li>

            <li class="menu-item">
                <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
                <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
            </li>
        </ul>
    </nav>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Movie Club</h1>
        <p class="jumbotron-description">
            Witaj w najlepszej bazie filmów w sieci. Oceniaj i dyskutuj o najnowszych produkcjach
            i klasykach kina.
        </p>
    </header>

    <div class="modal" id="modal" th:unless="${@sessionAcceptTerms.areAccepted}">
        <header class="modal-header">
            Informacje podstawowe
        </header>
        <section class="modal-body">
            Wchodząc na naszą stronę jesteś zobowiązany do przestrzegania regulaminu ustawionego przez naszą
            firmę, jednocześnie akceptując warunki naszej umowy. Potwierdz warunki aby przejść dalej.
        </section>
        <form method="post" th:action="@{/accept-terms} " class="modal-form">
        <button type="submit" class="accept-button">Potwierdz</button>
        </form>
    </div>

    <main class="main-content" layout:fragment="content"></main>

    <section class="message">
        <a th:href="@{/feedback}">
        <div class="message-button">
            <i class="fa-solid fa-message"></i>
        </div>
        </a>
    </section>

    <footer class="footer">
        <p>MovieClub 2022 <i class="fas fa-copyright"></i> Marcin Moch</p>
    </footer>
</div>
</body>
</html>