*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
    color: #ffc107;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content{
    flex:1;
}

.logo,
#toggle-icon {
    color: #ffc107;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    display: none;
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
}

.search-movie{
    color: black;
    font-size: 0.8em;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

@media(min-width:992px ){
    .menu-toggle {
        display: none;
    }
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }
    .menu-logo-container {
        flex: 1;
    }
    .main-content,
    .menu,
    .nav{
        align-self: center;
        max-width: 960px;
        width: 100%;
    }
}

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
    background-size: cover; /* Resize the background image to cover the entire container */
}
.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
}
.jumbotron-description {
    font-size: 1.2rem;
}

.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
    overflow-wrap: break-word;
}

.movie-list {
    list-style-type: none;
}

.movie-list-item-poster {
    display: block;
    max-width: 200px;
}

.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}
.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.movie-list-item-content > * {
    margin: 8px 0;
}
.movie-list-item-title {
    font-size: 1.6rem;
}
.movie-list-item-rating {
    font-size: 1.6rem;
}

/*Movie.html*/
/*Informacje o filmie w jednym rzędzie z odstępem od jumbotrona*/
.movie-summary {
    display: flex;
    margin-top: 16px;
    max-width: 500px;
}
/*Mniejsza okładka na małych ekranach*/
.movie-summary-cover {
    object-fit: cover;
    max-width: 200px;
}
/*Odstęp informacji o filmie od okładki*/
.movie-summary-info {
    margin-left: 16px;
    overflow-wrap: break-word;
    max-width: 220px;
}
/*Oryginalny tytuł w kolorze szarym i odstęp pod nim*/
.movie-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}
/*Odstępy między poszczególnymi informacjami*/
.movie-summary-item {
    margin: 8px 0;
    overflow-wrap: break-word;
}

.movie-summary-item-paragraph {
    margin: 8px 0;
    overflow-wrap: break-word;
    max-width: 360px;
}
/*Większy tytuł filmu*/
.movie-summary-title {
    font-size: 2rem;
}
/*Wyśrodkowanie głosowania*/
.movie-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

/*Wyśrodkowanie tekstu Twoja ocena*/
.movie-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

/*Powiększenie i wyśrodkowanie średniej oceny*/
.movie-rating-value {
    font-size: 4rem;
    text-align: center;
}
/*Styl dla przycisków z ocenami*/
.movie-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 5px;
}
/*Usunięcie przezroczystości po najechaniu na przycisk*/
.movie-rating-button:hover {
    opacity: 1;
}
/*Odstępy między elementami w ramce z głosowaniem*/
.movie-rating-container > * {
    margin: 8px 0;
}
/*Ramka dla boxu z głosowaniem*/
.movie-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}
/*Movie.html END*/

.movie-section-heading {
    margin-bottom: 8px;
    max-width: 960px;
    overflow-wrap: break-word;
}
/*Wyśrodkowanie trailera*/
.movie-trailer {
    display: block;
    margin: auto;
    width:360px;
    height:215px;
}

/*Responsive movie.html*/
@media only screen and (min-width: 992px) {
    /*Dodajemy rozkład elastyczny, elementy będą wyświetlane w jednym wierszu*/
    .movie {
        display: flex;
        justify-content: space-between;
    }
    /*Przyciski powinny wyświetlać się obok siebie, bez zawijania wiersza*/
    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }
    .movie-summary-info {
        max-width: 500px;
    }
    /*Większe odstępy między przyciskami*/
    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }

    .movie-trailer{
        width:560px;
        height:315px;
    }
}

@media only screen and (min-width: 700px) {
    .movie-summary-info {
        max-width: 340px;
    }
}

/*error pages START*/
.error-container {
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}
/*error pages END*/


.list-border{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.list-border > li {
    align-self: stretch;
    font-size: 1.2rem;
    border: 1px #6d6d6d solid;
    padding: 16px;
    text-align: center;
}

.mc-form{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.mc-form > * {
    margin-top: 8px;
}

.mc-form > input,
.mc-form > textarea,
.mc-form > [type="submit"] ,
.mc-form > select{
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}



.mc-form> select > option{
    color: black;
}



.mc-form> select > option{
    color: black;
}


.mc-form> select > option{
    color: black;
}

.mc-form > [type="submit"] {
    margin-top: 16px;
    background-color: white;
    color: #ffc107;
    border: none;
    cursor: pointer;
}

.mc-form > input[type="checkbox"]{
    transform: scale(2.1);
    align-self: start;
    margin: 10px 0 10px 5px;
}

.mc-form>input[type="file"]{
    color: white;
}


textarea {
    font-family: inherit;
}

.notification-bar {
    text-align: center;
    background-color: #ffc107;
    padding: 8px 0;
}

.mc-form-message{
    color:#ffc107;
    text-align: center;
}


.registration-link{
    text-align: center;
    margin: 32px 0;
}

.pages-list{
    color: black;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.pages-list > li{
    margin:7px 13px;
}

.current-page > a{
    color: white;
}

.all-movies-link{
    margin: 10px auto;
    text-align: center;
    display: block;
}

.comments{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex:1;
}

.comment{
    overflow-wrap: break-word;
    padding: 16px;
    border: 1px #6d6d6d solid;
    margin: 5px 0;
}

.comment >p{
    margin:10px 0;
}

.comment-author{
    font-size: 1.15em;
    opacity: 0.8;
}

.comment-info{
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

