*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #ffc107;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content{
    flex:1;
}

.logo,
#toggle-icon {
    color: #ffc107;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    display: none;
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

@media(min-width:992px ){
    .menu-toggle {
        display: none;
    }
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }
    .menu-logo-container {
        flex: 1;
    }
    .main-content,
    .menu,
    .nav{
        align-self: center;
        max-width: 960px;
        width: 100%;
    }
}

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
    background-size: cover; /* Resize the background image to cover the entire container */
}
.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
}
.jumbotron-description {
    font-size: 1.2rem;
}

.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}

.movie-list {
    list-style-type: none;
}

.movie-list-item-poster {
    display: block;
    max-width: 200px;
}

.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}
.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.movie-list-item-content > * {
    margin: 8px 0;
}
.movie-list-item-title {
    font-size: 1.6rem;
}
.movie-list-item-rating {
    font-size: 1.6rem;
}

/*Movie.html*/
/*Informacje o filmie w jednym rzędzie z odstępem od jumbotrona*/
.movie-summary {
    display: flex;
    margin-top: 16px;
}
/*Mniejsza okładka na małych ekranach*/
.movie-summary-cover {
    object-fit: cover;
    max-width: 200px;
}
/*Odstęp informacji o filmie od okładki*/
.movie-summary-info {
    margin-left: 16px;
}
/*Oryginalny tytuł w kolorze szarym i odstęp pod nim*/
.movie-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}
/*Odstępy między poszczególnymi informacjami*/
.movie-summary-item {
    margin: 8px 0;
}
/*Większy tytuł filmu*/
.movie-summary-title {
    font-size: 2rem;
}
/*Wyśrodkowanie głosowania*/
.movie-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

/*Wyśrodkowanie tekstu Twoja ocena*/
.movie-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

/*Powiększenie i wyśrodkowanie średniej oceny*/
.movie-rating-value {
    font-size: 4rem;
    text-align: center;
}
/*Styl dla przycisków z ocenami*/
.movie-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}
/*Usunięcie przezroczystości po najechaniu na przycisk*/
.movie-rating-button:hover {
    opacity: 1;
}
/*Odstępy między elementami w ramce z głosowaniem*/
.movie-rating-container > * {
    margin: 8px 0;
}
/*Ramka dla boxu z głosowaniem*/
.movie-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}
/*Movie.html END*/

.movie-section-heading {
    margin-bottom: 8px;
}
/*Wyśrodkowanie trailera*/
.movie-trailer {
    display: block;
    margin: auto;
    width:360px;
    height:215px;
}

/*Responsive movie.html*/
@media only screen and (min-width: 992px) {
    /*Dodajemy rozkład elastyczny, elementy będą wyświetlane w jednym wierszu*/
    .movie {
        display: flex;
        justify-content: space-between;
    }
    /*Przyciski powinny wyświetlać się obok siebie, bez zawijania wiersza*/
    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }
    /*Większe odstępy między przyciskami*/
    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }

    .movie-trailer{
        width:560px;
        height:315px;
    }
}

/*error pages START*/
.error-container {
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}
/*error pages END*/